/* GOOGLE FONTS */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Trade+Winds);
@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);



/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#f66301!important; color:#fff}
::-moz-selection{ background:#f66301!important; color:#fff}

a{ color: #F00; text-decoration: underline; outline:none}
a:hover{ color: #00F; text-decoration: none; outline:none}

body{  border:0; font: 14px 'Roboto', Arial, Helvetica, sans-serif; line-height:1.42857143; min-width:320px;}




.container { position: relative; min-width: 320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}

/* Page Animated item Styles */
.animated {
  visibility: hidden;
}

.visible {
visibility: visible;
}

/* ============================= header ====================== */

.px1{height: 9px; background: url(../images/px1.jpg) 0 0 repeat-x;}

.px2{height: 7px; background: url(../images/px2.jpg) 0 0 repeat-x;}

.top3_wrapper{center bottom repeat-x;}

.top3_inner{background: url(../images/pattern1.png);}

header{text-align: center; padding-top: 30px; padding-bottom: 20px;}

.logo_wrapper{display: inline-block; vertical-align: top;}

#top2{position: relative; z-index: 40; height: 56px; padding-top: 3px; padding-bottom: 3px; background: url(../images/menu_bg.jpg) 0 0 repeat-x;}

.enter_wrapper{height: 75px; background: url(../images/enter_bg.png) center center no-repeat; text-align: center;}

.enter_inner{display: inline-block; vertical-align: top; width: 75px; height: 75px; border: 1px solid #fff; background: #fff; background: rgba(255, 255, 255, 0.3); border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; text-align: center;}

.enter{display: inline-block; vertical-align: top; width: 67px; height: 67px; background: #fff; margin-top: 3px; border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%; line-height: 67px; font-family: 'Oswald'; font-size: 15px; color: #fa7715; text-transform: uppercase; text-decoration: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.enter:hover{background: #ffc031; color: #fff;}
















/* ============================= content ====================== */

#content{position: relative; padding-top: 0px; padding-bottom: 20px;}

#home{position: relative; overflow: hidden;}

#about{position: relative; padding: 50px 0 90px; background: url(../images/fire1.jpg) center bottom no-repeat #000;}

#offer{position: relative; padding: 40px 0 40px; background: #cfcfcf; color: #222932;}
#offer .title{color: #4a4949;}

#prices{position: relative; padding: 50px 0 50px; background: #000;}

#gallery{background: #000; padding-top: 60px; padding-bottom: 0px;}
.gallery_inner{background: url(../images/fire2.jpg) center bottom no-repeat;}

#contacts{background: url(../images/fire3.jpg) center bottom no-repeat #0e0e0e; padding-top: 60px; padding-bottom: 90px;}

#google_map{position: relative; width: 100%; height: 460px;}

.breadcrumbs1_wrapper{background: #000; padding: 15px 0;}

.breadcrumbs1{padding: 0; margin-top: 0px; font-weight: 700; line-height: 20px; color: #f66301; font-size: 14px; background: none; text-transform: uppercase; font-family: 'Roboto';}
.breadcrumbs1 a{color: #c4c4c4; text-decoration: none;}
.breadcrumbs1 a:hover{color: #fff; text-decoration: underline;}
.breadcrumbs1 span{display: inline-block; margin: 0 5px; color: #c4c4c4;}

/* ============================= blog ====================== */
.content-part{}
.post{background: #2a2a2a; margin-bottom: 45px;}

.post .post-image{position: relative; border: 5px solid transparent;}
.post .post-image img{display: block; width: 100%; position: relative; border: 1px solid #c0bbb3;}
.post .post-image .post-image-date{background: #ff0000; position: absolute; left: 0; top: 0; width: 55px; text-align: center; font-size: 17px; text-transform: uppercase;font-weight: 700; color: #fff; line-height: 1; padding: 10px 2px;}
.post + .post .post-image .post-image-date{background: #a3a031;}
.post + .post + .post .post-image .post-image-date{background: #5e4121;}
.post + .post + .post +.post  .post-image .post-image-date{background: #63dced;}

.post .post-image .post-image-date span{display: block; font-size: 13px;}

.post .post-story{padding: 30px 40px 40px;}
.post .post-story .post-story-info{ font-size: 10px; color: #c4c4c4; padding-bottom: 15px;}
.post .post-story .post-story-body{padding-bottom: 25px;}
.post.post-full .post-story .post-story-body{padding-bottom: 0;}
.post .post-story .post-story-link{}

.post .post-posted{border: 10px solid #2a2a2a; background: #000; padding: 10px;}
.post .post-posted .post-posted-left{float: left;}
.post .post-posted .post-posted-left .user{}
.post .post-posted .post-posted-left .user img{float: left; margin-right: 15px;}
.post .post-posted .post-posted-left .user .caption{font-size: 13px; color: #b3b3b3; white-space: nowrap; padding-top: 7px; padding-bottom: 5px; overflow: hidden;}
.post .post-posted .post-posted-left .user .caption span{color: #f66301;}


.post .post-posted .post-posted-right{float: right;}
.post .post-posted .post-posted-right .tags{margin-bottom: -5px; margin-right: -5px;}

.num-comments{font-family: 'Trade Winds'; font-size: 20px; line-height: 1; color: #f66301; margin-bottom: 20px; text-transform: uppercase;}

.comment-block{background: #2a2a2a; margin-bottom: 30px; padding: 30px;}
.comment-block figure{float: left; margin-right: 20px;}
.comment-block figure img{border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
.comment-block .caption{overflow: hidden;}
.comment-block .caption .top{padding-bottom: 10px;}
.comment-block .caption .top .txt1{float: left; padding-top: 5px;}
.comment-block .caption .top .txt1 .name{font-weight: 500; color: #f66301; font-size: 14px;}
.comment-block .caption .top .txt1 .date{font-weight: 500; color: #e4e4e4; font-size: 10px; padding-left: 5px;}
.comment-block .caption .top .txt2{float: right;}

.live-comment{margin-bottom: 30px; padding-top: 20px;}
.live-comment .live-comment-title{font-family: 'Trade Winds'; font-size: 20px; line-height: 1; color: #f66301; margin-bottom: 20px; text-transform: uppercase;}


.pager{display: block; text-align: left;}
.pager li{margin-right: 5px; float: left;}
.pager li > a{border: none; padding: 3px; border-radius: 0px; background: #b9b9b9; color: #fff; text-align: center; min-width: 26px; line-height: 20px; text-decoration: none;}
.pager li > a:hover{color: #000;}
.pager li.active > a{background: #f66301; color: #fff; cursor: default;}
.pager .next > a{float: none;}

.divider1{padding-left: 10px; padding-right: 10px;}

.sidebar-part{}

.sidebar-block{margin-bottom: 40px; position: relative;}
.sidebar-block .sidebar-block-title{ margin-bottom: 15px; font-family: 'Trade Winds'; font-size: 18px; line-height: 1.2; color: #000;}
.sidebar-block .sidebar-block-content{}

.sidebar-block-categories{}

.ul1{ padding: 0; margin: 0; list-style: none;}
.ul1 > li {font-size: 14px; font-weight: 400; line-height: 20px; color: #0093e1; text-transform: none; margin-bottom: 1px;}
.ul1 > li a{color:#fff; text-decoration: none; display: block; padding: 10px 10px 10px 20px; background: url(../images/li_st1.png) 7px center no-repeat #568919;}
.ul1 > li a:hover{color:#000; text-decoration: none; background: url(../images/li_st1_over.png) 7px center no-repeat #fff;}

.sidebar-block-widget{}

.social-widget{ display: block; margin: 0; padding: 0; list-style: none; text-align: center;}

.social-widget li{display: inline-block; margin: 0 2px 2px 0px; float: left;}
.social-widget li a{
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social-widget li a:hover{ opacity: 0.7; filter:alpha(opacity=70);}

.sidebar-block-recent-work{}
.sidebar-block-recent-work .sidebar-block-title{padding-right: 60px;}

.sidebar-block-recent-post{}
.sidebar-block-recent-post .sidebar-block-content{background: #1b1b1b;}

.recentpost1{}
.recentpost1 a{display: block; text-decoration: none;}
.recentpost1 a img {float: left; margin-right: 15px; margin-bottom: 10px;}
.recentpost1 a .caption{}
.recentpost1 a .caption .txt1{color: #c4c4c4; padding-bottom: 5px;}
.recentpost1 a:hover .caption .txt1{color: #f66301;}
.recentpost1 a .caption .txt2{color: #f66301; font-size: 12px;}
.recentpost1 a:hover .caption .txt2{color: #c4c4c4;}

/* ============================= blog end ====================== */


/* ============================= banner ====================== */
#banner_wrapper{ position: relative; padding-top: 40px; padding-bottom: 50px;}

#banner_inner{}

#banner{position: relative; padding-left: 100px; padding-right: 100px;}

.banner_prev{display: block; width: 81px; height: 35px; background: url(../images/prev2.png) left top no-repeat; position: absolute; left: 0px; margin-top: -17px; top: 50%; z-index: 10;}
.banner_prev:hover{opacity: 0.7; filter: alpha(opacity=70);}

.banner_next{display: block; width: 81px; height: 35px; background: url(../images/next2.png) left top no-repeat; position: absolute; right: 0px; margin-top: -17px; top: 50%; z-index: 10;}
.banner_next:hover{opacity: 0.7; filter: alpha(opacity=70);}

#banner .carousel-box{position: relative;}
#banner .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#banner .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#banner .caroufredsel_wrapper{padding: 0; margin: 0;}
#banner .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#banner .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.banner{}
.banner .banner_inner{}
.banner .banner_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0px; text-align: left; padding-top: 10px; border-top: 2px solid #494949;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover{ background: none; border-color: #f66301;}
.banner .banner_inner a figure{margin: 0; padding: 0; position: relative; border: none; background: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure{background: none;}
.banner .banner_inner a figure img{margin-left: auto; margin-right: auto; width: 100%;}
.banner .banner_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}
.banner .banner_inner a .caption{padding: 0; text-align: center; background: none; border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .caption{}
.banner .banner_inner a .txt1{font-family: 'Trade Winds'; font-weight: 400; font-size: 28px; line-height: 1; color: #b6b6b6; padding-top: 30px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .txt1{color: #f66301; text-decoration: none;}
.banner .banner_inner a .txt2{padding-top: 20px; color: #9a9a9a;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner .banner_inner a:hover .txt2{color: #fff;}

.banner .banner_inner a .txt3_wrapper{text-align: center; background: url(../images/txt3.png) center center repeat-x; margin-top: 25px;line-height: 1px; }
.banner .banner_inner a:hover .txt3_wrapper{background: url(../images/txt3_over.png) center center repeat-x;}
.banner .banner_inner a .txt3_wrapper .txt3{display: inline-block; height: 34px;}
.banner .banner_inner a .txt3_wrapper .txt3 .l{display: inline-block;width: 20px; height: 34px; background: url(../images/button0_l.png) left top no-repeat;}
.banner .banner_inner a:hover .txt3_wrapper .txt3 .l{background-position: bottom;}
.banner .banner_inner a .txt3_wrapper .txt3 .txt{display: inline-block; line-height: 34px; background: #494949; vertical-align: top; font-family: 'Roboto'; font-size: 16px; color: #0f0f0f; padding: 0 10px;}
.banner .banner_inner a:hover .txt3_wrapper .txt3 .txt{background: #f66301; color: #fff;}
.banner .banner_inner a .txt3_wrapper .txt3 .r{display: inline-block;width: 20px; height: 34px; background: url(../images/button0_r.png) left top no-repeat;}
.banner .banner_inner a:hover .txt3_wrapper .txt3 .r{background-position: bottom;}
/* ============================= banner end ====================== */

.services1{position: relative; text-align: center;color: #fff; margin-bottom: 25px;}
.services1 a{display: block; text-decoration: none;}
.services1 a .services1_img{border: 1px solid #fff; font-size: 73px; height: 165px; line-height: 165px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.services1 a:hover .services1_img{ border-color: #f66301;}
.services1 a .services1_img i{color: #fff;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.services1 a:hover .services1_img i{color: #f66301;}


.services1 a .txt1{padding-top: 12px; padding-bottom: 12px; font-weight: 400; text-transform: uppercase; font-size: 18px; color: #fff; border-bottom: 2px solid transparent;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.services1 a:hover .txt1{border-color: #f66301;}

.splash3_wrapper{position: relative; background: #104b5f;}
.splash3{position: relative; display: table; width: 100%;}

.splash3 > div{display: table-cell; width: 50%;}

.left_box_wrapper{position: relative; overflow: hidden;}
.left_box{margin-left: auto; width: 570px; position: relative; padding: 50px 30px 30px 0;}

.gear{width: 573px; height: 573px; background: url(../images/gear.png) center center no-repeat; position: absolute; right: -15%; bottom: -40%;}

.gear {
  -webkit-animation: wave-animation1 8.7s infinite linear; /* Safari 4+ */
  -moz-animation:    wave-animation1 8.7s infinite linear; /* Fx 5+ */
  -o-animation:      wave-animation1 8.7s infinite linear; /* Opera 12+ */
  animation:         wave-animation1 8.7s infinite linear; /* IE 10+ */
}

@-webkit-keyframes wave-animation1 {
  0%   {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes wave-animation1 {
  0%   {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes wave-animation1 {
  0%   {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes wave-animation1 {
  0%   {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.right_box_wrapper{background: url(../images/home02.jpg) left center no-repeat; background-size: cover;}

/* ============================= partners ====================== */
#partners_wrapper{ position: relative; padding-top: 40px; padding-bottom: 40px; background: #fff;}

#partners_inner{}

#partners{position: relative;padding-bottom: 0px;}

.partners_prev{display: block; width: 19px; height: 34px; background: url(../images/prev3.png) center center no-repeat ; opacity: 0.4; filter: alpha(opacity=40); position: absolute; left: 10px; margin-top: -11px; top: 50%; z-index: 10;}
.partners_prev:hover{opacity: 1; filter: alpha(opacity=100);}

.partners_next{display: block; width: 19px; height: 34px; background: url(../images/next3.png) center center no-repeat; opacity: 0.4; filter: alpha(opacity=40); position: absolute; right: 10px; margin-top: -11px; top: 50%; z-index: 10;}
.partners_next:hover{opacity: 1; filter: alpha(opacity=100);}

#partners .carousel-box{position: relative;}
#partners .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#partners .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#partners .caroufredsel_wrapper{padding: 0; margin: 0;}
#partners .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#partners .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.partners{}
.partners .banner_inner{}
.partners .banner_inner a{display: block; text-decoration: none; position: relative; background: none; padding: 0px; text-align: left;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .banner_inner a:hover{ background: none; }
.partners .banner_inner a figure{margin: 0; padding: 0px; position: relative; border: none; padding: 0px; background: none; opacity: 1; filter: alpha(opacity=100);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .banner_inner a:hover figure{background: none; opacity: 0.7; filter: alpha(opacity=700);}
.partners .banner_inner a figure img{width: 100%; border-radius:0 0 0 0; -moz-border-radius:0 0 0 0; -webkit-border-radius:0 0 0 0;}
.partners .banner_inner a figure em{position: absolute; left: 0; right: 0; top: 0; bottom: 0; z-index: 2; background: none; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.partners .banner_inner a:hover figure em{opacity: 1; filter: alpha(opacity=100);}

/* ============================= partners end ====================== */

/* ============================= testimonials ====================== */
#testimonials{}

.testimonials_prev, .testimonials_next {display: block; width: 72px; height: 72px; position: absolute; left: 0; top: 50%; margin-top: -36px; background: #000; background: rgba(0, 0, 0, 0.4); z-index: 2;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}

.testimonials_prev:after{content: ''; display: block; width: 100%; height: 100%; background: url(../images/prev4.png) center center no-repeat;opacity: 0.5; filter: alpha(opacity=50);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.testimonials_prev:hover{background: #f66301;}
.testimonials_prev:hover:after{opacity: 1; filter: alpha(opacity=100);}

.testimonials_next{left: auto; right: 0;}
.testimonials_next:after{content: ''; display: block; width: 100%; height: 100%; background: url(../images/next4.png) center center no-repeat;opacity: 0.5; filter: alpha(opacity=50);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.testimonials_next:hover{background: #f66301;}
.testimonials_next:hover:after{opacity: 1; filter: alpha(opacity=100);}



#testimonials .carousel-box{position: relative;}
#testimonials .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#testimonials .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#testimonials .caroufredsel_wrapper{padding: 0; margin: 0;}
#testimonials .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#testimonials .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.testimonials{}
.testimonials .testimonials_inner{color: #f3f3f3; text-align: center; padding-top: 80px; background: url(../images/kand2.png) center top no-repeat; padding-left: 10%; padding-right: 10%;}
.testimonials .testimonials_inner .txt1{font-weight: 400; font-size: 24px; line-height: 1.5; font-style: italic; padding-bottom: 25px;}
.testimonials .testimonials_inner .txt2{font-weight: 700; font-size: 18px; line-height: 1.1; text-transform: uppercase; color: #f66301;}
/* ============================= testimonials end ====================== */

/* ============================= recentworks ====================== */
#recentworks{}

.recentworks_prev, .recentworks_next {display: block; width: 26px; height: 26px; position: absolute; right:0; top: 0; margin-top: 0; background: #b9b9b9; z-index: 2; text-align: center; line-height: 26px; color: #fff; text-decoration: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.recentworks_prev:hover, .recentworks_next:hover{background: #f66301; color: #fff; text-decoration: none;}

.recentworks_prev:focus, .recentworks_next:focus{color: #fff; text-decoration: none;}

.recentworks_prev{right: 30px;}

#recentworks .carousel-box{position: relative;}
#recentworks .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#recentworks .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -3px; }
#recentworks .caroufredsel_wrapper{padding: 0; margin: 0;}
#recentworks .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#recentworks .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:0px }

.recentworks{}
.recentworks .recentworks_inner{}
.recentworks .recentworks_inner .img{float: left; width: 33.33333333%; padding-right: 3px; padding-bottom: 3px;}
.recentworks .recentworks_inner .img a{display: block;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.recentworks .recentworks_inner .img a:hover{opacity: 0.7; filter:alpha(opacity=70);}
.recentworks .recentworks_inner .img img{display: block;width: 100%;}

/* ============================= recentworks end ====================== */


/* ============================= footer ====================== */
#bot1{background: url(../images/fire4.jpg) center bottom repeat-x #0077bf; padding-top: 25px; padding-bottom: 45px;}
#bot11{background: url(../images/fire5.jpg) center bottom repeat-x #049d37; padding-top: 25px; padding-bottom: 45px;}

.social_wrapper{ padding-bottom: 15px;}
.social{ display: block; margin: 0; padding: 0; list-style: none; text-align: center;}

.social li{display: inline-block; margin: 0 10px 10px 10px;}
.social li a{
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social li a:hover{ opacity: 0.7; filter:alpha(opacity=70);}

.copyright{font-family: 'Oswald'; font-size: 16px; color: #fff; text-align: center;}
.copyright a{color: #fff; text-decoration: none;}
.copyright a:hover{color: #fff;}

.copyright .f1{display: inline-block; width: 13px; height: 41px; background: url(../images/f1.png) center center no-repeat; vertical-align: middle; margin: 0 20px;}

.copyright .f2{display: inline-block; width: 36px; height: 14px; background: url(../images/f2.png) center center no-repeat; vertical-align: middle; margin: 0 10px;}



/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: none; padding-top: 90px; padding-bottom: 90px; }
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; background: none;}
.parallax .container { }


.bg1 { background-image: url(../images/parallax1.jpg); }

.bg2 { background-image: url(../images/parallax2.jpg); }




#parallax1{}

#parallax1 .title{ color: #000000;}

#parallax1 .title2{ color: #000000;}



/* ============================= main menu ====================== */
.navbar_ { margin: 0; padding: 0; background: none; border:none; position: relative;z-index: 30; min-height: 0; float: none; text-align: center;}
.navbar_ .navbar-toggle { background: #f66301; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 10px; margin-bottom: 8px; margin-right: 5px;}
.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus{background: #c14d00;}
.navbar_ .navbar-toggle .icon-bar{background: #fff;}
.navbar-collapse_{padding-left: 0; padding-right: 0; border: none;}
.navbar_ .nav{position: relative; margin: 0; padding: 0; display: inline-block; vertical-align: top; float: none;}
.navbar_ .nav > li{position: relative; display: block; float: left; white-space: nowrap; background: url(../images/divider.png) left center no-repeat; padding-left: 36px;}
.navbar_ .nav > li:first-child{padding-left: 0; background: none;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Trade Winds'; font-weight: 400; font-size: 30px; line-height: 50px; color: #c4c4c4; text-shadow:none; padding: 0px 20px; border: none; margin: 0; text-align: center; position: relative; z-index: 2;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.navbar_ .nav > li > a em{display: inline-block; width: 11px; height: 6px; background: url(../images/caret1.png) center center no-repeat; margin-left: 15px; margin-right: 0px; vertical-align: middle;}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover, .navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus{color: #f66301; text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background: none;}






.sub-menu ul{ position: absolute; display: none; left: 36px; top: 53px; list-style: none; zoom: 1; z-index: 1; margin: 0; padding:1px; background: #000; text-align: left; border: none;}
.sub-menu li{ margin: 0; position: relative; zoom: 1; display: block; border-top: 1px solid #000;}
.sub-menu li:first-child{border-top: none;}
.sub-menu li a{display: block; position: relative; font-family:'Trade Winds'; font-weight: 400; font-size: 14px; line-height: 18px; color: #e4e4e4; text-decoration: none; padding: 10px 60px 10px 20px; background: #2a2a2a;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #fff; background: #f66301; }

.sub-menu li a em{display: inline-block; width: 5px; height: 10px; background: url(../images/caret2.png) center center no-repeat; position: absolute; right: 10px; top: 50%; margin-top: -5px; opacity: 0.4; filter: alpha(opacity=40);
}
.sub-menu li a:hover em{opacity: 1; filter: alpha(opacity=100);}


.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: -1px; margin-left: 0px; background: #000;}




/* ============================= search-form ====================== */
.search-form-wrapper{padding-top: 50px; float: right; width: 270px;}
.navbar-form { float: none; position:relative; z-index: 11; margin:0px 0px 0 0 ; padding: 0; position: relative;}
.navbar-form:before{content: ''; display: inline-block; width: 1px; height: 4px; background: #4d4d4d; position: absolute; left: 0; bottom: 1px;}
.navbar-form:after{content: ''; display: inline-block; width: 1px; height: 4px; background: #4d4d4d; position: absolute; right: 0; bottom: 1px;}
.navbar-form input {outline: none; width: 100%; height: auto; font-size: 14px; line-height: 20px; color:#575757; background: none; border: none; border-bottom: 1px solid #4d4d4d; margin: 0; padding: 5px 75px 5px 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
.navbar-form input:focus {color: #fff; background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.navbar-form a {text-decoration: none; margin: 0; display: inline-block; background: none; position:absolute; right:10px; bottom: 1px; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: 700; line-height: 30px;text-align: center;}
.navbar-form a:hover { background: none; color: #ef1165;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }


/* ============================= main layout ====================== */
.title_wrapper{text-align: center;}
.title{display: inline-block; vertical-align: top; padding: 10px 30px 15px; margin-bottom: 10px; font-family: 'Trade Winds'; font-size: 39px; line-height: 1; color: #b6b6b6; background: url(../images/kand.png) center bottom no-repeat;}

.title2{text-align: center; color: #fff; font-family: 'Open Sans'; font-size: 20px; line-height: 1.5; text-transform: uppercase; margin-bottom: 15px;}

.title3{color: #222932; font-size: 18px; line-height: 1.5; margin-bottom: 15px; font-weight: 500;}

.title4{color: #b6b6b6; font-family: 'Trade Winds'; font-size: 33px; line-height: 1; margin-bottom: 30px; margin-top: 30px; }

.title5{color: #c4c4c4; font-size: 16px; line-height: 1.1; margin-bottom: 20px; font-weight: 700; text-transform: uppercase;}


h1{}

h2{display: block; font-family:'Roboto'; font-weight:400; font-size:25px; color:#c4c4c4; line-height:1; padding:0 0 10px; margin: 0; position: relative;}








h3{display: block; font-family:'Lato'; font-weight:900; font-size:20px; color:#2b2c31; line-height:1.1; padding:60px 0  30px 0; margin: 0 0 25px; text-transform: uppercase; position: relative;}
h3:after{content: ''; display: block; width: 100%; height: 6px; background: url(../images/h1.png) 0 0 repeat-x; position: absolute; left: 0; bottom: 0;}

h4{display: block; font-family:'Lato'; font-weight:900; font-size:16px; color: #003; line-height:1.1; padding:10px 0  20px 0; margin: 0 0 0px; text-transform: uppercase; position: relative;}






h5, .h5 {display: block; font-family:'Roboto'; font-weight:400; font-size:16px; color:#2b2c31; line-height:1.625; padding:0; margin: 0 0 10px;}

h6{display: block; font-family:'Open Sans'; font-weight:700; font-size:20px; color:#272727; line-height:1.1; padding:0px 0  20px 0; margin: 0 0 0px; text-transform: uppercase;}















.img-responsive-old{display: block; max-width: 100%; height: auto;}

.img-responsive{width: auto \9;}

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}





/* === */
.ul0{ padding: 0; margin: 0; list-style: none; padding-bottom: 0px;}
.ul0 > li{font-weight: 400; font-family: 'Roboto'; font-size: 14px;color: #f1f1f1; line-height: 1.3; padding:20px 0;}
.ul0 > li i{color: #f66301; font-size: 48px; float: left; padding-right: 15px; width: 75px; text-align: center;}
.ul0 > li span{display: table;}
.ul0 > li .txt1{color: #fff; text-transform: uppercase; font-size: 16px; font-weight: 700; padding-bottom: 5px;}

.table1{margin-bottom: 0;}

.table1 tbody tr{background: #f3f3f3;}
.table1 tbody tr td{border: 1px solid #000; color: #272727;font-size: 16px; font-weight: 700; padding: 20px; vertical-align: middle;}
.table1 tbody tr td + td{text-align: center;  font-weight: 400;}

.table1 tbody tr:nth-child(even) {background: #dbdbdb;}
.table1 tbody tr:hover {background: #f66301;}
.table1 tbody tr:hover td {color: #fff;}

.links_block{padding-bottom: 40px;}

.phone_ic{font-size: 14px; line-height: 20px; text-transform: uppercase; font-weight: 700; padding-bottom: 5px;}
.phone_ic i{float: left; padding-right: 10px; color: #f66301; font-size: 16px; line-height: 20px;}
.phone_ic span{display: table;}
.email_ic{font-size: 14px; line-height: 20px; padding-bottom: 0px;}
.email_ic i{float: left; padding-right: 10px; color: #f66301; font-size: 16px; line-height: 20px;}
.email_ic span{display: table;}

.tags{ display: block; margin: 0; padding: 0; list-style: none; text-align: left;}
.tags li{display: inline-block; margin: 0 5px 5px 0px; float: left;}
.tags li a{ display: inline-block; background: #b3b3b3; padding: 5px 10px; font-weight: 700; color: #fff; text-transform: uppercase; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; text-decoration: none;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.tags li a:hover{background: #f66301;}

blockquote{display: block; padding: 0 0 0 50px; background: url(../images/blockquote.png) 0 0 no-repeat; font-size: 17px; line-height: 28px; color: #c4c4c4; font-weight: 500; border-left: 0; margin: 40px 0;}


/*-----btn-----*/
.btn-default.btn0{ display: inline-block; color: #fff; border: none; box-shadow: 0 6px #b34800; moz-box-shadow: 0 6px #b34800; -webkit-box-shadow: 0 6px #b34800; font-size: 16px; line-height: 20px; font-weight: 700; padding: 12px 40px; text-decoration: none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: #f66301; position: relative;}
.btn-default.btn0:hover{color: #fff; background: #ff822e; box-shadow: 0 4px #c75406; moz-box-shadow: 0 4px #c75406; -webkit-box-shadow: 0 4px #c75406; top: 2px;}

.btn-default.btn1{ display: inline-block; color: #fff; border: none; box-shadow: 1px 2px rgba(0, 0, 0, 0.8); moz-box-shadow: 1px 2px rgba(0, 0, 0, 0.8); -webkit-box-shadow: 1px 2px rgba(0, 0, 0, 0.8); font-size: 16px; line-height: 20px; font-weight: 700; padding: 5px 15px; text-decoration: none; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: #8d8d8c; position: relative;}
.btn-default.btn1:hover{color: #fff; background: #f66301;}

.btn-default.btn2{ display: inline-block; color: #fff; border: 2px solid #b3b3b3; font-size: 14px; line-height: 20px; font-weight: 500; padding: 3px 15px; text-decoration: none; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; background: #b3b3b3; position: relative;}
.btn-default.btn2:hover{color: #b3b3b3; background: none;}








/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 5px; background: none; border: 1px solid #cfcfcf;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none;}

.thumbnail .caption{padding: 0; color: inherit;}

.thumb0 {margin-bottom: 20px; margin-top: 0px;}
.thumb0.last {margin-bottom: 0px;}
.thumb0 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb0 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb0 figure img{width: 100%;}
.thumb0 .caption{}

.thumb1 {margin-bottom: 0px; margin-top: 0px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb1 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb1 figure img{width: 100%;}
.thumb1 .caption{}

.thumb2 {margin-bottom: 0px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb2 figure{margin: 0; float: none; margin:0px 0px 30px 0px; }
.thumb2 figure img{width: 100%;border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;}
.thumb2 .caption{}
















/*================= queryLoader =========================*/
#load {width: 100%;height: 100%;position: fixed;overflow: hidden;z-index: 1001;	background-color: #000;}
#qLoverlay{background: #000!important;}
#qLbar{background: #fff!important;}
#qLpercentage{color: #fff!important; font-family: 'Roboto'; font-weight: 700; font-size: 40px!important; line-height: 1;}







/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1200px) {

}
/* Default landscape and desktop to large desktop */
@media (max-width: 1199px) {

  .services1 a .services1_img{font-size: 65px; height: 131px; line-height: 131px;}

  .left_box{width: 470px;}


}
@media (min-width: 992px) {


}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar_ .nav > li > a{padding-left: 10px; padding-right: 10px;}



}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {

  .services1 a .services1_img{font-size: 45px; height: 95px; line-height: 95px;}

  .left_box{width: 360px;}





}
@media (min-width: 768px) and (max-width: 991px) {
  .navbar_ .nav > li > a{padding-left: 5px; padding-right: 5px; font-size: 16px;}

  .recentworks .recentworks_inner .img{width: 50%;}




}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {


	.navbar_ {float: none; height: 50px; margin-bottom: 0; }
	.navbar-collapse_{clear: both; margin-left: -15px; margin-right: -15px;}
	.navbar_ .nav{display: block; background: none; border-right: none;background: #000; border: none;}
	.navbar_ .nav > li{float: none;background: none; border-left: none; margin-right: 0; border-top:1px solid #c4c4c4; background: none; padding-left: 0;}
	.navbar_ .nav > li > a{margin-bottom: 0; line-height: 35px; border: none; padding-left: 15px; padding-right: 15px;}
	.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{}
	.sub-menu ul{position: relative; left: 0; top: 0;}

  #banner{padding-left: 0px; padding-right: 0px; padding-bottom: 55px;}

  .banner_prev{left: 50%; margin-left: -100px; margin-top: 0; top: auto; bottom: 0;}

  .banner_next{right: 50%; margin-right: -100px; margin-top: 0; top: auto; bottom: 0;}

  .splash3{display: block;}

  .splash3 > div{display: block; width: auto;}

  .left_box_wrapper{padding-left: 15px; padding-right: 15px;}

  .left_box{width: auto; margin: 0;}

  .right_box_wrapper{padding-bottom: 63%;}





}
@media (min-width: 481px) and (max-width: 767px) {



}
/* Landscape phones and down */
@media (max-width: 480px) {

  .comment-block .caption .top .txt1{float: none;}
  .comment-block .caption .top .txt2{float: none; padding-top: 10px;}


  #google_map {height: 240px;}


}

/**/
.forma{
	margin-bottom: -80px;
	z-index: 10;
	margin-top: 48px;
}
.forma input{
	border-radius:4px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#555555;
	background:#ededed;
}
input:focus{
	//border:0;
	outline:none;
}
textarea:focus{
	//border:0;
	outline:none;
}
.name{
	margin-bottom: 10px;
	margin-right: 10px;
}
.Email{
	margin-bottom: 10px;
}
.Subject{
	margin-bottom:10px;
	max-width: 816px;
}

textarea {
	border-radius:4px;
	padding-top:10px;
	padding-bottom:10px;
	border:0px;
	font-family: 'Roboto', 'sans-serif';
	font-weight: 300;
	font-size:13px;
	color:#555555;
	background:#ededed;
	border:none;
    max-width: 816px;
	height: 153px;
    resize: none;
   }
.forma input:focus, .forma textarea:focus{
	background:#dfdfdf;
	border:0;
}
.forma .cBtn a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
	font-size:13px;
	color:#fff;
}

.forma .cBtn ul{
	margin-left: -15px;
	margin-top: 6px;
	padding-left:0;
	margin-bottom: 0;
}
.forma .cBtn ul i{
	padding-right: 10px;
}
.forma .cBtn .clear , .cBtn .send{
	margin-bottom: 0;
	margin-top: 4px;
	padding: 10px;
	padding-right: 17px;
	padding-left: 17px
	
}
.forma .cBtn .clear  a, .cBtn .send a{
	font-family: 'Roboto', 'sans-serif';
	font-weight: 700;
}
.forma .cBtn .send{
	box-shadow: 0px 2px 0px 0px #771520;
	background: #FFF;
}
.forma .cBtn .send:hover{
	background:#2f2f2f;
	box-shadow: 0px 2px 0px 0px #000 ;
}

/**/

#fondo{background: url(../images/casa_jrdin.jpg) top center fixed;}
#fondo1{background: url(../images/fb.jpg) top center fixed;}
#fondo2{background: url(../images/fb2.jpg) top center fixed;}

.imgcenter{
	margin:0 auto;
	display: block;
	clear:both;}	
